@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}
.side-bar {
  background-color: rgb(121, 246, 255);
  font-family: "Poppins", sans-serif;
  align-content: center;
  width: 100px;
  padding: 50px;
  height: 100vh;
}
.main {
  /* background-color:yellow; */
  background-color: white;
  width: 90vw;
}
.container {
  display: flex;
}

.side-bar nav {
  padding: 45px;
}
.side-bar nav li {
  list-style: none;
  font-size: 15px;
  padding: 30px 0;
}
.side-bar nav li a {
  text-decoration: none;
  color: black;
}
.infocontainer {
  /* background-color: red; */
  background-color: white;
  height: 55vh;
  width: 80vw;
  margin: 146px auto;
  display: flex;
}
.hello {
  font-size: 35px;
}
.name {
  font-size: 60px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.about {
  font-size: 30px;
}
.about-more {
  font-size: 20px;
}
.buttons {
  margin-top: 35px;
}
.buttons button {
  padding: 9px 14px;
  border-radius: 22px;
  color: black;
  background-color: lightgreen;
  font-weight: bold;
  margin: 0 3px;
}
.buttons button:hover {
  color: black;
  background-color: lightgreen;
}
.devInfo {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
   
}
.devPic img {
  height: 55vh;
}
.contactform{
  font-family: "Poppins", sans-serif;
  padding-top: 144px;
  padding-right: 100px;
  padding-left: 100px;
  
}
.contactform h1{
  font-family: "Poppins", sans-serif;
  text-align: center;

}
.contactform form div{
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.contactform form div input{
  width: 16vw;
  border-radius: 5px;
  margin: 6px 0;
  padding: 3px;
}
.contactform form div button{
  width: 16vw;
  border-radius: 5px;
  margin: 6px 0;
  padding: 3px;
}

.btn-sm{
  font-size: 12px;
  padding: 12px;
  border-radius: 22px;
  color: black;
  background-color: rgb(71, 241, 247);
  font-weight: bold;
  margin: 0 3px;
  position: relative;
  left: 20px;
}