@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* body {
  background: white;
  color: black;
} */

.side-bar {
  background-color: aqua;
  color: yellow;
  font-family: "Poppins", sans-serif;
  align-content: center;
  width: 10vw;
}
.main {
  background-color: yellow;
  width: 80vw;
}
.container {
  display: flex;
}

.side-bar nav {
  padding: auto;
}
